USE [master]
GO
/****** Object:  Database [Drausio]    Script Date: 28/01/2019 23:37:23 ******/
CREATE DATABASE [Drausio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Drausio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\Drausio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Drausio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017\MSSQL\DATA\Drausio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Drausio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Drausio]
GO
/****** Object:  Table [dbo].[tblCliente]    Script Date: 28/01/2019 23:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[DataNascimento] [datetime] NOT NULL,
	[Sexo] [bit] NOT NULL,
	[LimiteCompra] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_tblCliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[uspClienteAlterar]    Script Date: 28/01/2019 23:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspClienteAlterar] 

		@IdCliente INT,
		@Nome varchar(100),
		@DataNascimento datetime,
		@Sexo bit,
		@LimiteCompra decimal(18, 2)
	AS
	BEGIN
		UPDATE 		
			tblCliente	

			SET	
			  Nome = @Nome, 	
			  DataNascimento = @DataNascimento, 	
			  Sexo = @Sexo, 	
			  LimiteCompra = @LimiteCompra		

			WHERE 	
			  IdCliente = @IdCliente 	
			
			SELECT @IdCliente AS Retorno 	
	
	END
GO
/****** Object:  StoredProcedure [dbo].[uspClienteConsultarPorId]    Script Date: 28/01/2019 23:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspClienteConsultarPorId]
	@IdCliente INT
AS
BEGIN
	SELECT
		IdCliente,
		Nome,
		DataNascimento,
		Sexo,
		LimiteCompra
	FROM
		tblCliente
	WHERE
		IdCliente = @IdCliente			
END
GO
/****** Object:  StoredProcedure [dbo].[uspClienteConsultarPorNome]    Script Date: 28/01/2019 23:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspClienteConsultarPorNome]
	@Nome VARCHAR(100)
AS
BEGIN
	SELECT
		IdCliente,
		Nome,
		DataNascimento,
		Sexo,
		LimiteCompra
	FROM
		tblCliente
	WHERE
		Nome LIKE  '%' +  @Nome + '%'			
END
GO
/****** Object:  StoredProcedure [dbo].[uspClienteExcluir]    Script Date: 28/01/2019 23:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspClienteExcluir]
	@IdCliente INT
AS
BEGIN
	DELETE FROM 
		tblCliente
	WHERE
		IdCliente = @IdCliente
		SELECT @@IDENTITY AS Retorno
END
GO
/****** Object:  StoredProcedure [dbo].[uspClienteInserir]    Script Date: 28/01/2019 23:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[uspClienteInserir] 	
						
		@Nome varchar(100),
		@DataNascimento datetime,
		@Sexo bit,
		@LimiteCompra decimal (18, 2)
	
	AS

	BEGIN
		INSERT INTO tblCliente 	
		(
			Nome,
			DataNascimento,
			Sexo,
			LimiteCompra
		)	
		VALUES 				
		(
			@Nome,
			@DataNascimento,
			@Sexo,
			@LimiteCompra
		)
		SELECT @@IDENTITY AS Retorno	
			
	
	END
GO
USE [master]
GO
